/* app css stylesheet */

body {
  padding-bottom: 40px;
  color: #5a5a5a;
}

.featurette-divider {
  margin: 20px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.news-list-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}

.news-list-images {
  width: 150px;
  height: 150px;
}
